@model FordIndia.Feature.Nameplate.Models.Property

<!--[peace]-->
@if (Model != null)
{
    <section class="section spy-peace" id="peace">

        <div class="container">

            <header class="title-head m-auto text-center pb-5">

                <h5 class="skyblue text-uppercase">@Model.BlueTitle</h5>

                <h2 class="title">@Model.Header</h2>

            </header>

        </div>

        <div class="swiper-container single-swiper-mobile">

            <div class="swiper-wrapper d-md-flex">

                @if (Model.propertyItems != null && Model.propertyItems.Count > 0)
                {
                    var count = Model.propertyItems.Count;
                    for (int i = 0; i < count; i++)
                    {
                        <div class="swiper-slide col card-caption">

                            <picture class="swiper-img">

                                <source srcset="@Model.propertyItems[i].Image" media="(min-width: 576px)">

                                <img src="@Model.propertyItems[i].MobileImage" alt="">

                            </picture>

                            <div class="col-text text-white">

                                <div class="title-head">

                                    <h3 class="title">@Model.propertyItems[i].Title</h3>

                                    <p>

                                        @Model.propertyItems[i].Description

                                    </p>

                                </div>

                            </div>


                        </div>
                    }
                }
            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>
}
<!--[/peace]-->
