@model FordIndia.Feature.Media.Models.Carousel
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;

<!--[Hero-Slider]-->
<section class="hp-hero-slider h-100">

    <div class="swiper-container hp-swiper h-100">

        <div class="swiper-wrapper">
            @if (Model != null && Model.CarouseImage != null && Model.CarouseImage.Count() > 0)
            {
                foreach (var item in Model.CarouseImage)
                {
                    <div class="swiper-slide">

                        <a href="#">
                            <picture class="swiper-img">

                                <source srcset="@item.MediaImage.Src" media="(min-width: 576px)">

                                <img src="@item.MobileImage.Src">

                            </picture>

                            <div class="swiper-caption position-absolute w-100 text-sm-right text-center text-white d-sm-flex align-items-sm-center h-100">

                                <div class="col-lg-8 col-sm-10 p-0 m-auto rich-text">

                                    <h2 class="bolder text-uppercase h1 title">@Html.Raw(item.MediaTitle)</h2>

                                    <div class="swiper-cta mt-3 mt-md-5 w-100">

                                        <span class="btn btn-outline-light">@item.ButtonText<i class="fa fa-chevron-right ml-2"></i></span>

                                    </div>

                                </div>

                                <div class=" position-absolute tnc text-muted p-md-4 p-2 small text-sm-right text-center w-100">@item.MediaDescription</div>

                            </div>


                        </a>

                    </div>
                }


            }

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>
<!--[/Hero-Slider]-->
