@model FordIndia.Feature.Media.Models.VerticalListingCarousel
@using Sitecore.Mvc.Presentation;
@using Sitecore.Data.Items;
@using FordIndia.Feature.Media;
@if (Model != null)
{
    <!--[reviews]-->
    <section class="section spy-review relative p-0" id="reviews">
        <header class="title-head text-center pb-md-5 p-3">
            <h5 class="skyblue text-uppercase">@Model.BlueTitle</h5>
            <h2 class="title">@Model.Title</h2>
        </header>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-11 m-auto text-center">
                <div class="swiper-container review-swiper pagination-static mt-4">
                    <div class="swiper-wrapper">

                               @foreach (var item in Model.ImageList)
                                {
                                    <div class="swiper-slide">
                                        <div class="item-text h3 skyblue">                                          
                                           @Html.Raw(item.Description)
                                        </div>
                                        <div class="item-img mt-3">
                                            <img src="@item.Image" alt="@item.Alt">
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <picture class="bg-img">
            <source srcset="@Model.Image" media="(min-width: 576px)">
            <img src="@Model.Image" alt="endeavour-review">
        </picture>

    </section>
    <!--[/reviews]-->
}
